<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_about_us">

    <application
        android:theme="@style/Theme.AccountBooks">
        <activity
            android:name=".AboutMeActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>