<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gx.module_task">

    <application android:theme="@style/Theme.Note">
        <activity android:name="com.gx.task.ui.activities.TaskActivity">

        </activity>

        <activity android:name="com.gx.task.di.base.BaseActivity">

        </activity>

        <activity android:name="com.gx.task.ui.activities.NewTaskActivity" />
    </application>
</manifest>